<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASHTECH</title>
</head>

<body>
    <div class="container" style="display: flex; justify-content:center; align-content:center;">
        <h1>LANDING PAGE</h1>
        <div class="container">
            <a href="{% url 'accounts:login' %}" class="btn btn-sm btn-primary">Login Page</a>
        </div>
    </div>
</body>

</html>