{% extends 'accounts/base.html' %}
{% block pagetitle %} Login {% endblock %}
{% load static %}
{% block content %}
<div class="card-body" style="width: 80%;">
    <div class="main-signup-header">
        <h4 style="color: gold;">SRC Election Portal</h4>
        <h5 class="fw-semibold mb-4 text-primary">Please Login to Proceed.</h5>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group mb-2">
                <label for="index_number">Index Number</label>
                <input class="form-control" id="index_number" name="index_number" placeholder="Enter Index Number"
                    type="text" required>
            </div>

            <div class="form-group" style="margin-top: 20px;">
                <label for="pin">Pin</label>
                <input class="form-control" id="pin" name="pin" placeholder="Enter your pin" type="password" required>
            </div>
            <br>
            <button class="btn btn-primary btn-block" type="submit">Login</button>
            <br> <br>
        </form>

    </div>
</div>
<!-- NOTE ENDS -->
{% endblock %}